<div class="field is-horizontal">
  <div class="field-label is-normal">Start Date</div>
  <div class="field-body">
    <div class="field has-addons is-grouped is-grouped-multiline">
      <div class="control">
        <%= form.date_select :start_date,
                              { selected: reservation.start_date },
                              class: 'select is-medium' %>
        <p class="help">Required</p>
        <%= error_message_on(form.object, :start_date) %>
      </div>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">Start Time</div>
  <div class="field-body">
    <div class="field has-addons is-grouped is-grouped-multiline">
      <div class="control">
        <%= form.time_select :start_time,
                              { selected: reservation.start_time,
                                minute_step: 15 },
                              class: 'select is-medium' %>
        <p class="help">Required</p>
        <%= error_message_on(form.object, :start_time) %>
      </div>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">End Date</div>
  <div class="field-body">
    <div class="field has-addons is-grouped is-grouped-multiline">
      <div class="control">
        <%= form.date_select :end_date,
                              { selected: reservation.end_date },
                              class: 'select is-medium' %>
        <p class="help">Required</p>
        <%= error_message_on(form.object, :end_date) %>
      </div>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">End Time</div>
  <div class="field-body">
    <div class="field has-addons is-grouped is-grouped-multiline">
      <div class="control">
        <%= form.time_select :end_time,
                              { selected: reservation.end_time,
                                minute_step: 15 },
                              class: 'select is-medium' %>
        <p class="help">Required</p>
        <%= error_message_on(form.object, :end_time) %>
      </div>
    </div>
  </div>
</div>
