<!--
  https://github.com/turbolinks/turbolinks#ensuring-specific-pages-trigger-a-full-reload
  https://stackoverflow.com/questions/39627881/jquery-plugin-initialization-on-browser-back-button-for-turbolinks-rails-5/39801052
  -->
<% content_for :head do %>
  <meta name="turbolinks-visit-control" content="reload">
<% end %>

<p hidden id='edit-profile-<%= user.id %>' class='pageName'>Edit Profile<%= user.id %></p>

<h1 class="sub-title is-size-4">Update your Profile</h1>
<br>
<%= form_for( user, local: true,
              url: users_profile_path(user),    # EDIT PATH MUST BE SINGULAR for PATCH
              id: "edit-profile-form", class: "user" ) do |form|  %>

  <div class="tile is-ancestor">
    <div class="tile is-vertical is-full">

      <div class="tile">
        <div class="tile is-parent is-vertical">

        <%= render 'form_edit', form: form, user: user %>

        </div>
      </div>

      <!-- load button on the form-defintion level to prevent caching problems -->
      <div class="tile">
        <div class="tile is-parent is-vertical">

        <%= render 'actions_edit', form: form, user: user %>

        </div>
      </div>

    </div>
  </div>
<% end %>
