<%= render 'shared/reservations/form_errors', reservation: reservation %>

<div class="card">
  <div class="card-content">

    <%= render 'shared/reservations/form_space_select', form: form,
                                                        reservation: reservation,
                                                        spaces: spaces %>

    <%= render 'shared/reservations/form_event_select', form: form,
                                                        reservation: reservation,
                                                        events: events %>

    <%= render 'shared/reservations/form_host_name',    form: form,
                                                        reservation: reservation %>

    <%= render 'shared/reservations/form_remote_link',   form: form,
                                                        reservation: reservation %>

    <%= render 'shared/reservations/form_start_end',    form: form,
                                                        reservation: reservation %>

    <%= render 'shared/reservations/form_notice_input', form: form,
                                                        reservation: reservation %>

  </div>
</div>
