<!--
  https://github.com/turbolinks/turbolinks#ensuring-specific-pages-trigger-a-full-reload
  https://stackoverflow.com/questions/39627881/jquery-plugin-initialization-on-browser-back-button-for-turbolinks-rails-5/39801052
  -->
<% content_for :head do %>
  <meta name="turbolinks-visit-control" content="reload">
<% end %>

<p hidden id='manager-edit-resevation-<%= reservation.id %>' class='pageName'>Manager Edit Reservation <%= reservation.id %></p>

<%= render 'shared/reservations/edit_reservation_header', reservation_view: reservation_view %>

<br>

<%= form_for( reservation, local: true,
              url: managers_reservation_path(reservation),    # PATH MUST BE SINGULAR!!!
              id: "edit-reservation-form", class: "reservation" ) do |form|  %>

  <div class="tile is-ancestor">
    <div class="tile is-vertical is-full">

      <div class="tile">
        <div class="tile is-parent is-vertical">
        <%= render 'form_edit', form: form, reservation: reservation,
                                events: events, spaces: spaces %>
        </div>
      </div>

      <!-- load button on the form-defintion level to prevent caching problems -->
      <div class="tile">
        <div class="tile is-parent is-vertical">
        <%= render 'actions_edit', form: form, reservation: reservation %>
        </div>
      </div>

    </div>
  </div>

<% end %>
