<!--
  https://github.com/turbolinks/turbolinks#ensuring-specific-pages-trigger-a-full-reload
  https://stackoverflow.com/questions/39627881/jquery-plugin-initialization-on-browser-back-button-for-turbolinks-rails-5/39801052
  -->
<% content_for :head do %>
  <meta name="turbolinks-visit-control" content="reload">
<% end %>

<p hidden id='trustee-index-user' class='pageName'>Trustee Index Users</p>

<h1 class="sub-title is-size-4">Manage Users</h1>
<br />

<%= link_to 'Create new user', new_trustees_user_path, class: "button is-info" %>
<br />
<br />

<table class="table is-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Username</th>
      <th>email</th>
      <th>Access</th>
      <th>Password</th>
      <th>Status</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= link_to "#{user.real_name}",          edit_trustees_user_path(user) %></td>
        <td><%= link_to "#{user.username}",           edit_trustees_user_path(user) %></td>
        <td><%= link_to "#{user.email}",              edit_trustees_user_path(user) %></td>
        <td><%= link_to "#{user.access_permissions}", edit_trustees_user_path(user) %></td>
        <td>Reset</td>
        <td>Enabled/Blocked</td>
        <td><%= link_to 'Destroy', trustees_user_path(user),
                        method: :delete, data: { confirm: 'Are you sure?' },
                        class: "button is-danger is-small" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create new user', new_trustees_user_path, class: "button is-info" %>
