<%# form_with(model: user, local: true) do |form| %>

  <% if user.errors.any? %>
    <div id="error_explanation" class="notification is-danger is-light">
      <h2><%= pluralize(user.errors.count, "error") %>
        prohibited this user from being saved:
      </h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="notification is-success is-light">
    Blanks values are ignored and won't change the field's stored value.
  </div>

  <div class="field">
    <label class="label">Real Name</label>
    <div class="control">
      <%= form.text_field :real_name,
                          placeholder: "Person's actual name",
                          class: 'input' %>
    </div>
    <p class="help"></p>
    <%= error_message_on(form.object, :real_name) %>
  </div>

  <div class="field">
    <label class="label">Status</label>
    <div class="control">
      <%# form.text_field :real_name,
                          placeholder: "Person's actual name",
                          class: 'input' %>
    </div>
    <p class="help">Enabled or Blocked</p>
    <%= error_message_on(form.object, :real_name) %>
  </div>

  <div class="field">
    <label class="label">Username</label>
    <div class="control">
      <%= form.text_field :username,
                          placeholder: "short username / nickname (for login)",
                          class: 'input' %>
    </div>
    <p class="help">MUST be all LOWERCASE - no spaces</p>
    <%= error_message_on(form.object, :username) %>
  </div>

  <div class="field">
    <label class="label">Email</label>
    <div class="control">
      <%= form.email_field :email,
                            placeholder: "e-mail address", class: 'input' %>
    </div>
    <p class="help">MUST be all LOWERCASE</p>
    <%= error_message_on(form.object, :email) %>
  </div>

  <div class="field">
    <label class="label">Permissions</label>
    <div class="control">
      <%= form.collection_select :access_role,
                UserView::role_permission_list,
                :role, :permissions, {selected: user.access_role},
                prompt: 'Select Permissions',
                class: 'select is-medium' %>
      <p class="help">Required</p>
      <%= error_message_on(form.object, :access_role) %>
    </div>
  </div>

  <br>
  <div class="notification is-success is-light">
    Leave password fields blank to leave password unchanged.
  </div>

  <div class="field">
    <label class="label">Password</label>
    <div class="control">
      <%= form.password_field :password,
                              placeholder: "use a capital, lowercase and at least 12 characters long",
                              class: 'input' %>
    </div>
    <p class="help">SUGGESTION: use multiple memorable words and capitalize each word.</p>
    <%= error_message_on(form.object, :password) %>
  </div>

  <div class="field">
    <label class="label">Password Confirmation</label>
    <div class="control">
      <%= form.password_field :password_confirmation,
                              placeholder: "password confirmation",
                              class: 'input' %>
    </div>
    <p class="help">Must be the same as the above password</p>
    <%= error_message_on(form.object, :password_confirmation) %>
  </div>

  <!-- action buttons on calling page -->

<%# end %>
