<!--
  https://github.com/turbolinks/turbolinks#ensuring-specific-pages-trigger-a-full-reload
  https://stackoverflow.com/questions/39627881/jquery-plugin-initialization-on-browser-back-button-for-turbolinks-rails-5/39801052
  -->
<% content_for :head do %>
  <meta name="turbolinks-visit-control" content="reload">
<% end %>

<p hidden id='trustee-new-resevation-<%= reservation.id %>' class='pageName'>Trustee New Reservation <%= reservation.id %></p>

<h1 class="sub-title is-size-4">New Reservation</h1>
<br>
<%= form_for( reservation, local: true,
              url: trustees_reservations_path,  # MUST BE PLURAL
              id: "new-reservation-form", class: "reservation" ) do |form|  %>

  <div class="tile is-ancestor">
    <div class="tile is-vertical is-full">

      <div class="tile">
        <div class="tile is-parent is-vertical">
        <%= render 'form_new',  form: form, reservation: reservation,
                                spaces: spaces, events: events %>
        </div>
      </div>

      <!-- load button on the form-defintion level to prevent caching problems -->
      <div class="tile">
        <div class="tile is-parent is-vertical">
        <%= render 'actions_new', form: form, reservation: reservation %>
        </div>
      </div>

    </div>
  </div>

<% end %>
