<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to root_path, class: 'navbar-item' do %>
      <%= image_pack_tag 'Shambhala_Sun.jpg' %>&nbsp;<h4 class="title is-4">SMB Agenda</h4>
    <% end %>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">


      <% if current_user %>
        <a class="navbar-item">
          <%= link_to "Agenda", root_path, class: 'navbar-item' %>
        </a>
        <% if current_user.access_role.eql?("manager") ||
              current_user.access_role.eql?("trustee") %>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Management
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item">
              <%= link_to "Users", managers_users_path, class: 'navbar-item' %>
            </a>
            <a class="navbar-item">
              <%= link_to "Events", managers_events_path, class: 'navbar-item' %>
            </a>
            <a class="navbar-item">
              <%= link_to "Repeat Bookings", managers_repeat_bookings_path, class: 'navbar-item' %>
            </a>
          </div>
        </div>
        <% end %>
      <% end %>

    </div>

    <div class="navbar-end">
      <%= link_to "Profile - #{current_user.username}", edit_users_profile_path(current_user), class: 'navbar-item' if current_user %>
      <%= link_to "Profile - #{session[:participant]['email']}", edit_participants_profile_path(id: session[:participant]['id']), class: 'navbar-item' if session[:participant].present? %>
      <div class="navbar-item">
        <div class="buttons">

          <% if current_user.blank? && session[:participant].blank? %>
            <%= link_to("Verwalten", new_user_session_path,
                        class: 'button is-info is-small is-outlined') %>
            <%# link_to("Einloggen", new_participants_magic_link_path,
                        class: 'button  is-small is-success') %>
            <%# link_to("Mail Login", new_tokens_path,
                        class: 'button  is-small is-success') %>
          <% elsif current_user.present? %>
            <%= link_to("Ausloggen", destroy_user_session_path,
                        method: :delete, class: 'button is-danger is-small is-outlined') %>
          <% elsif session[:participant].present? %>
            <%= link_to("Ausloggen", participants_session_path(id: session[:participant]['id']),
                        method: :delete, class: 'button is-danger is-small is-outlined') %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>
